name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: 'npm'
        cache-dependency-path: './projet-zooplus/package-lock.json'
    - name: Install dependencies
      working-directory: ./projet-zooplus
      run: npm ci
    - name: Install Playwright Browsers
      working-directory: ./projet-zooplus
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx cucumber-js
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: ./projet-zooplus/playwright-report/
        retention-days: 30
